<a href="https://colab.research.google.com/github/Esther-Zhou99/Introduction-to-Data-Science-in-Python/blob/main/week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Question1**

In [42]:
def proportion_of_education():
    dict={}
    import pandas as pd
    df= pd.read_csv("NISPUF17.csv",usecols = ['EDUC1'])
    lst=list(df.value_counts())
    total=int(df.count())
    dict['less than high school'] =float(lst[3]/total)
    dict['high school'] =float(lst[2]/total)
    dict['more than high school but not college'] = float(lst[1]/total)
    dict['college'] =float(lst[0]/total)
    return dict
    raise NotImplementedError()
proportion_of_education()

{'college': 0.47974705779026877,
 'high school': 0.172352011241876,
 'less than high school': 0.10202002459160373,
 'more than high school but not college': 0.24588090637625154}

In [43]:
assert type(proportion_of_education())==type({}), "You must return a dictionary."
assert len(proportion_of_education()) == 4, "You have not returned a dictionary with four items in it."
assert "less than high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "more than high school but not college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."

In [44]:
df= pd.read_csv("NISPUF17.csv",usecols = ['EDUC1'])
df.head()

   EDUC1
0      4
1      3
2      3
3      4
4      1

In [57]:
int(df[df.EDUC1 == 4].shape[0])

13656

In [58]:
def proportion_of_education():
    dict={}
    import pandas as pd
    df= pd.read_csv("NISPUF17.csv",usecols = ['EDUC1'])
    total=int(df.count())
    dict['less than high school'] =float(int(df[df.EDUC1 == 4].shape[0])/total)
    dict['high school'] =float(int(df[df.EDUC1 == 3].shape[0])/total)
    dict['more than high school but not college'] = float(int(df[df.EDUC1 == 2].shape[0])/total)
    dict['college'] =float(int(df[df.EDUC1 == 1].shape[0])/total)
    return dict
    raise NotImplementedError()
proportion_of_education()

{'college': 0.10202002459160373,
 'high school': 0.24588090637625154,
 'less than high school': 0.47974705779026877,
 'more than high school but not college': 0.172352011241876}

# **Question 2**

In [77]:
df= pd.read_csv("NISPUF17.csv", usecols= ['CBF_01','P_NUMFLU'])
df.head()

   CBF_01  P_NUMFLU
0       1       NaN
1       2       NaN
2       2       NaN
3       2       3.0
4       1       0.0

In [78]:
int(df[df.CBF_01 == 1].shape[0])

24261

In [79]:
int(df[df.CBF_01 == 2].shape[0])

4085

In [80]:
df.CBF_01[0]

1

In [89]:
df = df.fillna(0)
df.head()

   CBF_01  P_NUMFLU
0       1       0.0
1       2       0.0
2       2       0.0
3       2       3.0
4       1       0.0

In [90]:
s1=0
for i in range(len(df)):
    if df.CBF_01[i]== 1:
        s1=s1+int(df.P_NUMFLU[i])
s1

24986

In [96]:
s2=0
for j in range(len(df)):
    if df.CBF_01[j]== 2:
        s2=s2+int(df.P_NUMFLU[j])
s2

3188

In [6]:
def average_influenza_doses():
    import pandas as pd
    df= pd.read_csv("NISPUF17.csv", usecols= ['CBF_01','P_NUMFLU'])
    df=df.fillna(0)
    s1=0
    s2=0
    for i in range(len(df)):
        if df.CBF_01[i]== 1:
            s1=s1+int(df.P_NUMFLU[i])
    for j in range(len(df)):
        if df.CBF_01[j] ==2:
            s2=s2+int(df.P_NUMFLU[j])
    a=s1/int(df[df.CBF_01 == 1].shape[0])
    b=s2/int(df[df.CBF_01 == 2].shape[0])
    return (round(a,1),round(b,1))
    raise NotImplementedError()
average_influenza_doses()

(1.0, 0.8)

# **Question 3**

In [7]:
import pandas as pd
df= pd.read_csv("NISPUF17.csv", usecols= ['SEX','HAD_CPOX','P_NUMVRC'])
df=df.fillna(0)
df.head()

   HAD_CPOX  SEX  P_NUMVRC
0         2    1       0.0
1         2    1       0.0
2         2    2       0.0
3         2    2       1.0
4         2    2       0.0

In [13]:
yes1=0
no1=0
for i in range(len(df)):
    if df.SEX[i]==1 and df.P_NUMVRC[i]>=1 :
        if df.HAD_CPOX[i] ==1:
            yes1+=1
        if df.HAD_CPOX[i] ==2:
            no1+=1
(yes1, no1, yes1/no1)

(68, 7028, 0.009675583380762664)

In [14]:
yes2=0
no2=0
for i in range(len(df)):
    if df.SEX[i]==2 and df.P_NUMVRC[i]>=1 :
        if df.HAD_CPOX[i] ==1:
            yes2+=1
        if df.HAD_CPOX[i] ==2:
            no2+=1
(yes2, no2, yes2/no2)

(53, 6802, 0.0077918259335489565)

In [18]:
def chickenpox_by_sex():
    import pandas as pd
    df= pd.read_csv("NISPUF17.csv", usecols= ['SEX','HAD_CPOX','P_NUMVRC'])
    df=df.fillna(0)

    dict={}

    yes1=0
    no1=0
    for i in range(len(df)):
        if df.SEX[i]==1 and df.P_NUMVRC[i]>=1 :
            if df.HAD_CPOX[i] ==1:
                yes1+=1
            if df.HAD_CPOX[i] ==2:
                no1+=1

    yes2=0
    no2=0
    for i in range(len(df)):
        if df.SEX[i]==2 and df.P_NUMVRC[i]>=1 :
            if df.HAD_CPOX[i] ==1:
                yes2+=1
            if df.HAD_CPOX[i] ==2:
                no2+=1

    dict['male']=round(yes1/no1,4)
    dict['female']=round(yes2/no2,4)

    return dict
    raise NotImplementedError()

In [19]:
chickenpox_by_sex()

{'female': 0.0078, 'male': 0.0097}

# **Question 4**

In [ ]:
def corr_chickenpox():
    import scipy.stats as stats
    import numpy as np
    import pandas as pd
    
    # this is just an example dataframe
    df=pd.DataFrame({"had_chickenpox_column":np.random.randint(1,3,size=(100)),
                   "num_chickenpox_vaccine_column":np.random.randint(0,6,size=(100))})

    # here is some stub code to actually run the correlation
    corr, pval=stats.pearsonr(df["had_chickenpox_column"],df["num_chickenpox_vaccine_column"])
    
    # just return the correlation
    #return corr

    # YOUR CODE HERE
    raise NotImplementedError()